// imports
@use "../abstracts/abstracts" as *;

// data
.data {
  background: url("../images/bg-desktop.png") bottom center/cover no-repeat
    color(veryDarkBlue);
  height: 100vh;
  width: 100vw;

  // container styles
  &__content {
    @include maxWidthSm;
    @include sectionSpacing;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1.5fr;
    align-items: flex-end;
    gap: 4rem;

    @include responsive(lg) {
      grid-template-columns: 1fr;
    }
  }

  &__menu {
    background-color: color(darkBlue);
    padding: 4rem;
    border-top-right-radius: 10rem;
  }

  &__storage {
    background-color: color(darkBlue);
    padding: 4rem;
    border-radius: 1rem;
    position: relative;
  }

  &__gbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // element styles
  &__logo {
    width: 15rem;
    margin-bottom: 4rem;
  }

  &__desc {
    @include textStyles;
    color: color(paleBlue);
    font-size: size(xs);
  }

  &__used {
    @include headingStyles;
  }

  &__progress-bar {
    height: 2rem;
    width: 100%;
    background-color: color(veryDarkBlue);
    border-radius: 1rem;
    margin: 1.5rem 0;
  }

  &__progress-inner {
    position: relative;
    height: 2rem;
    width: 75%;
    background: linear-gradient(
      to left,
      color(gradientRed),
      color(gradientOrange)
    );
    border-radius: 1rem;
  }

  &__circle {
    position: absolute;
    height: 1.6rem;
    width: 1.6rem;
    background-color: color(paleBlue);
    border-radius: 50%;
    top: 0.2rem;
    right: 0.5rem;
  }

  &__gb {
    @include headingStyles;
    font-size: size(xxs);
    color: color(paleBlue);
  }
}

// footer
.footer {
  @include flexCenter;
  text-align: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 1rem 2rem;
  background-color: color(veryDarkBlue);

  &__heading {
    @include textStyles;
    font-size: size(xs);
    color: color(paleBlue);
  }

  &__link {
    @include headingStyles;
    color: color(gradientRed);
    outline: 0;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__logo {
    width: 5rem;
  }
}

// preloader
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: color(veryDarkBlue);
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 2000;
  transition: 0.5s ease-in-out;
  opacity: 1;

  &__content {
    position: absolute;
    display: grid;
    place-items: center;
  }

  &__heading {
    @include headingStyles;
    font-size: size(xxl);
    color: color(paleBlue);
    z-index: 2000;
    pointer-events: none;
  }

  &__spinner {
    width: 300px;
    height: 300px;
    position: relative;
  }

  &__half-circle {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px double transparent;
    border-top-color: color(gradientOrange);
    border-radius: 50%;
    animation: spinnerOne 1.5s linear infinite;

    &:nth-child(2) {
      border: 10px double transparent;
      border-bottom-color: color(gradientRed);
      animation: spinnerTwo 1.5s linear infinite;
    }
  }

  @keyframes spinnerOne {
    0% {
      transform: rotate(0deg);
      border-width: 10px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 1px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 10px;
    }
  }

  @keyframes spinnerTwo {
    0% {
      transform: rotate(0deg);
      border-width: 1px;
    }

    50% {
      transform: rotate(180deg);
      border-width: 10px;
    }

    100% {
      transform: rotate(360deg);
      border-width: 1px;
    }
  }
}

.hide-preloader {
  z-index: -1000;
  visibility: hidden;
  opacity: 0;
  display: none;
}
